* {
  box-sizing: border-box;
}

body {
  background-color: #65a2b2;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  font-size: 14px;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 9px -1px rgba(44,74,82,1);
  -moz-box-shadow: 0px 3px 9px -1px rgba(44,74,82,1);
  box-shadow: 0px 3px 9px -1px rgba(44,74,82,1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

svg {
  width: 32px;
}



/*****************************************
RESPONSIVE GRID
*****************************************/

/*  clearfix Apply to all Section div's */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/* SECTION */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/* col Setup */
.col {
  margin: 1% 0 1% 0%;
}

.col:first-child { margin-left: 0; }

/* mobile-col
for multi column layout
on small screen sizes, if a multi col layout is needed on devices w/ 479px or less use .col-moblie instead of .col */
.col-mobile {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  padding-left: 1.5%;
}

.col-mobile:first-child {
  margin-left: 0;
}

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (min-width: 480px) {
  .col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
    padding-left: 1.5%;
  }

}

/* mobile multi column grid classes, use if a multi column layout is need on 479px or less */

.sm-col-2-12 {
  width: 15.33%;
}

.sm-col-3-12 {
  width: 23.8%;
}

.sm-col-4-12 {
  width: 32.26%;
}

.sm-col-5-12 {
  width: 40.73%;
}

.sm-col-6-12 {
	width: 49.2%;
}

.sm-col-7-12 {
  width: 57.66%;
}

.sm-col-8-12 {
  width: 66.13%;
}

.sm-col-9-12 {
  width: 74.6%;
}

.sm-col-10-12 {
  width: 83.06%;
}

.sm-col-12-12 {
  width: 100%;
}

/* md size screens */

.md-col-2-12 {
  width: 15.33%;
}

.md-col-10-12 {
  width: 83.06%;
}



/* mobile first grid */

.col-12-12 {
  width: 100%;
}

.col-11-12 {
	width: 100%;
}

.col-10-12 {
	width: 100%;
}

.col-9-12 {
	width: 100%;
}

.col-8-12 {
	width: 100%;
}

.col-7-12 {
	width: 100%;
}

.col-6-12 {
	width: 100%;
}

.col-5-12 {
	width: 100%;
}

.col-4-12 {
	width: 100%;
}

.col-3-12 {
	width: 100%;
}

.col-2-12 {
	width: 100%;
}

.col-1-12 {
	width: 100%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (min-width: 480px) {

	.col-12_of_12 {
		width: 100%;
	}

	.col-11_of_12 {
		width: 91.53%;
	}

	.col-10_of_12 {
		width: 83.06%;
	}

	.col-9_of_12 {
		width: 74.6%;
	}

	.col-8_of_12 {
		width: 66.13%;
	}

	.col-7_of_12 {
		width: 57.66%;
	}

	.col-6_of_12 {
		width: 49.2%;
	}

	.col-5_of_12 {
		width: 40.73%;
	}

	.col-4_of_12 {
		width: 32.26%;
	}

	.col-3_of_12 {
		width: 23.8%;
	}

	.col-2_of_12 {
		width: 15.33%;
	}

	.col-1_of_12 {
		width: 6.86%;
	}

}


/*****************************************
HEADER
*****************************************/
.main-header{
  background-color: #5e62b3;
}

.title,
.username {
  color: #f2f2f2;
}

.title > span,
.username {
  font-weight: 100;
}

/* Hide name on mobile */
.username {
  display: none;
}

ul.header-nav {
  float: right;
  padding-top: .25em;
}

ul.header-nav li {
  float: left;
}

ul.header-nav li:first-child {
  border-right: 1px solid #100821;
}

.header-nav a {
  padding: 0 10px;
}

.header-nav a:last-child a {
  padding-right: 5px;
  border: 1px solid red;
}

ul.header-nav svg {
  width: 30px;
}

.header-nav .profile-pic {
  width: 32px;
  border-radius: 50%;
}



/*****************************************
APP PRIMARY NAVIGATION
*****************************************/

.app-navigation-container {
  background: #3b3a5f;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: .5em;
}

.navigation-list li {
  border-bottom: 4px solid #3b3a5f;
  transition: border-color .4s ease-in;
  flex-grow: 1;
  margin-right: 10px;
}

.navigation-list li:hover,
.navigation-list li:focus {
  border-color: #76bf7a;
}

.navigation-list li a {
  padding: 0 5px;
  text-align: center;
}

/*****************************************
MAIN CONTENT
*****************************************/

.section-title {
  font-weight: 300;
}

.main-container {
  background: #fff;
}

/**********************
SEARCH SECTION
**********************/

.app-search {
  /* 10px / 14px */
  padding: 0 0 .714285em 0;
}

.app-search div.col-mobile {
  margin-top: 0;
}

h2.dashboard-title {
  padding-top: .5em;
}

.dashboard-search-container {
  background: #e0e0e0;
  padding: .75em .75em;
}

#searchBar {
  float: right;
  padding: .25em;
}


/**********************
ALERT SECTION
**********************/

.user-alert-container {
  background: #5e62b3;
  border-radius: 5px;
  color: #f2f2f2;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 1.6% 1.6%;
  padding: 8px 12px;
  position: relative;
  /*width: 95%;*/
}

.user-alert-container .close-alert {
  position: absolute;
  right: 8px;
  top: 6px;
  font-size: 1.2em;
  font-weight: 500;
}

.user-alert-container > p {
  margin: 0 0;
  padding-right: 8px;
}

.user-alert-container p strong {
  padding-right: 4px;
}


/*****************************************
MEDIA QUERIES
*****************************************/



@media (min-width: 480px) {

  /******  HEADER  ******/

  .username {
    display: block;
  }

  /****  APP NAV  ****/

  svg {
    width: 32px;
  }

  .navigation-list {
    display: initial;
    float: right;
    padding-top: .5em;
    padding-bottom: .25em;
  }

  .navigation-list li {
    float: left;
    margin-right: 8px;
  }

}

@media (min-width: 600px) {

  /****  APP NAV  ****/
  svg {
    width: 24px;
  }

  .app-navigation-container {
    padding-right: 0;
    height: 100vh;
    min-height: 100%;
    max-width: 70px;
  }

  .navigation-list {
    padding-top: 1em;
  }

  .navigation-list li {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .navigation-list li {
    border-bottom: 0;
    border-left: 4px solid #3b3a5f;
    transition: border-color.4s ease-in;
  }

  .navigation-list li:hover,
  .navigation-list li:focus {
    border-color: #76bf7a;
  }

  /******  MAIN CONTENT  ******/

  /****  SEARCHBAR  ****/

  .dashboard-title-search-container {
    padding-left: 1.5%;
  }

  /****  ALERT  ****/

  .user-alert-container {
    width: 97%;
    /* 18px / 12px */
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

}

@media (min-width: 800px) {
  svg {
    width: 32px;
  }
}
