 * {
     box-sizing: border-box;
 }

 body {
     margin: 96px auto 0;
     background-color: #3b3a5f;
     box-shadow: 0px 3px 9px -1px rgba(44, 74, 82, 1);
     font-family: 'Roboto', sans-serif;
     font-size: 14px;
     line-height: 1.4;
 }

 h1, h2, h3, h4, h5, h6 {
     margin-top: 0;
     margin-bottom: 0;
 }

 a {
     display: block;
     text-decoration: none;
 }

 ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 img {
     max-width: 100%;
 }

 svg {
     width: 32px;
 }

 textarea {
   resize: none;
 }




 /*****************************************
RESPONSIVE GRID
*****************************************/
 /*  clearfix Apply to all Section div's */

 .cf:before, .cf:after {
     display: table;
     content: "";
 }

 .cf:after {
     clear: both;
 }
 /* SECTION */

 .section {
     clear: both;
     margin: 0px;
     padding: 0px;
 }
 /* col Setup */

 .col {
     display: block;
     float: left;
     margin: 1% 0 1% 0;
     padding-left: 1.6%;
 }
 /* mobile multi column grid classes, use if a multi column layout is need on 479px or less */

 .sm-col-4-12 {
     width: 32.26%;
 }

 .sm-col-5-12 {
     width: 40.73%;
 }

 .sm-col-7-12 {
     width: 57.66%;
 }

 .sm-col-12-12 {
     width: 100%;
 }
 /* md size screens */

 @media only screen and (min-width: 480px) {
     .md-col-2-12 {
         width: 12%;
     }
     .md-col-4-12 {
         width: 32.26%;
     }
     .md-col-6-12 {
         width: 49%;
     }
 }

 @media only screen and (min-width: 600px) {
     .lg-col-1-12 {
         width: 9%;
     }

     .lg-col-6-12 {
         width: 50%;
     }

 }



 /*****************************************
Custom .classes
*****************************************/

 .col-no-top-margin {
     margin-top: 0;
 }

 .col-no-bottom-margin {
     margin-bottom: 0;
 }

 .col-no-margin {
     margin: 0;
 }

 .col-no-left-padding {
     padding-left: 0;
 }

 .col-no-right-padding {
     padding-right: 0;
 }

 .thin-border {
     border: 1px solid #e6e6e6;
 }

 .thin-section-border {
     border-top: 1px solid #e6e6e6;
 }

 .text-light-purple {
     color: #5e62b3;
 }



 /*****************************************
HEADER
*****************************************/

 .main-header {
     position: fixed;
     z-index: 1000;
     top: 0;
     right: 0;
     left: 0;
     min-height: 49px;
     background-color: #5e62b3;
 }

 .title, .username {
     color: #f2f2f2;
 }

 .title>span, .username {
     font-weight: 100;
 }

 .sup-text {
   font-weight: 100;
   font-size: .8rem;
   color: #d8d8d8;
 }
 /* Hide name on mobile */

 .username {
     display: none;
 }

 .header-nav {
     float: right;
     padding-top: .25em;
 }

 .header-nav li {
     float: left;
 }

 .header-nav li:first-child {
     border-right: 1px solid #57568a;
 }

 .header-nav a {
     padding-left: 10px;
 }

 .header-nav li:first-child a {
     padding-right: 5px;
 }

 .header-nav svg {
     width: 30px;
 }

 .header-nav .profile-pic {
     width: 32px;
     border-radius: 50%;
 }



 /*****************************************
APP PRIMARY NAVIGATION
*****************************************/

 .app-navigation-container {
     position: fixed;
     z-index: 1000;
     top: 48.6px;
     right: 0;
     left: 0;
     background: #3b3a5f;
 }

 .navigation-list {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
         -ms-flex-direction: row;
             flex-direction: row;
     padding-top: .5em;
     padding-right: 1%;
     padding-left: 1%;
     -ms-flex-pack: distribute;
         justify-content: space-around;
 }

 .navigation-list li {
     margin-right: 5px;
     margin-left: 5px;
     padding: 0 5px;
     -webkit-transition: border-color .4s ease-in;
     transition: border-color .4s ease-in;
     border-bottom: 4px solid #3b3a5f;
 }

 .navigation-list li:hover, .navigation-list li:focus {
     border-color: #76bf7a;
 }



 /*****************************************
MAIN CONTENT
*****************************************/

 .section-title {
     color: #7b7b7b;
     margin-bottom: 1.2rem;
     padding-top: 1.6%;
     font-weight: 500;
 }

 .main-container {
     background: #fff;
 }
 /**********************
SEARCH SECTION
**********************/

 .app-search {
     /* 10px / 14px */
     padding: 0 0 .714285em 0;
 }

 h2.dashboard-title {
     padding-top: .5em;
 }

 .dashboard-search-container {
     padding: .75em;
     background: #f7f7f7;
 }

 #searchBar {
     float: right;
     padding: .25em;
 }



 /**********************
ALERT SECTION
**********************/

 .user-alert-container {
     padding-right: 1.6%;
 }

 .user-alert-message {
     position: relative;
     width: 100%;
     padding: 1.2rem 1rem;
     letter-spacing: 1px;
     color: #f2f2f2;
     border-radius: 5px;
     background: #5e62b3;
     font-size: 12px;
     font-weight: 100;
 }

 .user-alert-container .close-alert {
     position: absolute;
     top: -6px;
     right: -4px;
     display: block;
     width: 2rem;
     height: 2rem;
     padding-left: 2px;
     -webkit-transition: -webkit-transform .4s;
     transition: -webkit-transform .4s;
     transition: transform .4s;
     transition: transform .4s, -webkit-transform .4s;
     text-align: center;
     border: 3px solid white;
     border-radius: 50%;
     background: #6199ff;
     font-size: 1.25rem;
     font-weight: 500;
     line-height: 1.38rem;
 }

 .user-alert-container .close-alert:hover {
     -webkit-transform: scale(1.1) translateY(-5px);
             transform: scale(1.1) translateY(-5px);
     -webkit-transform-origin: center;
             transform-origin: center;
 }

 .user-alert-container p strong {
     padding-right: 4px;
 }



 /**********************
GRAPHS
**********************/

 .line-chart-traffic-container {
     padding: 1.6% 1.6% 1.6% 1.6%;
 }

 .line-chart-traffic-container:nth-child(2) {
     border-right: 1px solid #e6e6e6;
 }

 /* Traffic Nav */

 .nav-traffic-widget {
     width: 100%;
     padding-top: 1.6%;
     text-align: center;
 }

 .nav-traffic-widget li {
     display: inline-block;
     margin: 0 1%;
     -webkit-transition: background .8s ease-in-out, color .8s ease-in-out;
     transition: background .8s ease-in-out, color .8s ease-in-out;
     /*color: #000;*/
     border-radius: 1rem;
     font-size: .725rem;
 }

 .nav-traffic-widget li a {
   color: #7b7b7b;
 }

 .nav-traffic-widget li:hover, .nav-traffic-widget li:active {
     background: rgba(118, 191, 122, 1);
 }

 .nav-traffic-widget li:hover a, .nav-traffic-widget li:active a {
     color: #fff;
 }

 .nav-traffic-widget li.selected {
     background-color: rgba(118, 191, 122, 1);
 }

 .nav-traffic-widget li.selected a {
     color: #fff;
 }

 .nav-traffic-widget li a {
     padding: 5px 10px;
 }


 /**********************
SOCIAL STATS AREA
**********************/

 .social-stats-container {
     padding-top: 20px;
     padding-right: 1.6%;
     padding-bottom: 20px;
 }

 .social-block {
     margin-right: 1%;
     padding: 1.6%;
     border-radius: 5px;
     background: #f7f7f7;
 }

 .social-icon-container {
     float: left;
     width: 52px;
     height: 52px;
     margin-right: .5em;
     padding: 10px 10px 10px;
     border-radius: 50%;
     background: #5e62b3;
 }

 img.svg {
     display: block;
     width: 2em;
     margin: 2px auto;
     margin-right: auto;
     margin-left: auto;
 }

 .social-block-title {
     margin-bottom: -5px;
 }

 .social-stat-count {
     color: #7b7b7b;
     font-size: 2rem;
     font-weight: 100;
 }



 /*************************
NEW / ACTIVE MEMBERS AREA
*************************/

 .members-list-container {
     margin: 0;
     padding-top: 20px;
     padding-right: 1.6%;
     padding-bottom: 20px;
     color: #7b7b7b;
 }

 ul.members-list li {
     position: relative;
     height: 4rem;
     padding-top: 10px;
     padding-bottom: 10px;
     border-bottom: 1px solid #e6e6e6;
 }

 ul.members-list li:last-of-type {
     border-bottom: none;
 }

 .member-pic {
     float: left;
     width: 32px;
     margin-right: 4px;
     border-radius: 50%;
 }

 .user-email, .comment-time {
     display: block;
     margin-top: -2px;
     color: rgb(94, 98, 179);
 }

 .user-join-date {
     position: absolute;
     top: 10px;
     right: 0;
 }
 /* ACTIVE MEMBERS AREA */

 ul.members-list li p {
     font-size: .714rem;
 }

 .user-name {
     font-weight: 400;
 }

 .user-email,
 .comment-time {
   font-size: .75rem;
   font-weight: 500;
 }

 ul.active-members li p {
     margin-top: 2px;
     padding-right: 1.5rem;
 }

 .arrow {
     display: none;
     padding: 5px;
     -webkit-transition: -webkit-transform .5s ease-out;
     transition: -webkit-transform .5s ease-out;
     transition: transform .5s ease-out;
     transition: transform .5s ease-out, -webkit-transform .5s ease-out;
     color: #5e62b3;
     font-size: 1.5rem;
 }

 .active-members li:hover .arrow {
     -webkit-transform: scale(1.5);
             transform: scale(1.5);
     -webkit-transform-origin: center;
             transform-origin: center;
 }



 /***************************
Form Message User / Form App Settings
****************************/

 .message-user-container, .app-settings-container {
     margin: 0;
     padding-top: 30px;
     padding-right: 1.6%;
     padding-bottom: 40px;
 }

 .message-user-container {
     border-right: 1px solid #e6e6e6;
 }

 .form-contact-user,
 .app-settings-container {
     position: relative;
 }
 /* FORM CONFIRM MODAL */

 .form-confirm-msg,
 .save-confirm-msg {
     position: absolute;
     top: 20px;
     left: 20px;
     width: 90%;
     height: 40%;
     padding: 1.6%;
     text-align: center;
     color: #f7f7f7;
     border: 2px solid #5e62b3;
     border-radius: 10px;
     background: rgba(59, 58, 95, .75);
     font-size: 1.1rem;
     font-weight: 300;
     z-index: 300;
 }

 .save-confirm-msg {
    top: 50px;
    line-height: 60px;
    height: 28%;
 }
 /* End of Confirm modal */

 .form-title {
     padding-top: 10px;
     padding-bottom: 10px;
 }

 .form-text-style {
   color: #7d7d7d;
   font-size: .75rem;
   font-weight: 500;
 }

 .input-element {
     width: 100%;
     margin-bottom: 1em;
     padding: .55rem .75rem;
     border-radius: 5px;
     background-color: #f7f7f7;
 }

 .msg {
     min-height: 110px;
     margin-bottom: 1.9rem;
 }

 .btn {
     margin-bottom: 1em;
     padding: 1.5em 0;
     text-decoration: none;
     text-transform: uppercase;
     color: #ffffff;
     border: none;
     border-bottom: 5px solid #3b3a5f;
     border-radius: 4px;
     background: #5e62b3;
     transition: transform .3s ease-in;
 }

 .btn:hover,
 .btn:active {
     text-decoration: none;
     transform: translateY(-3px);
 }

 .submit-btn, .settings-btn {
    height: 48px;
     width: 100%;
 }

 .cancel-btn {
     background: #a7a7a7;
 }

 .option-container {
     margin-bottom: 2rem;
 }

 .option-container:last-of-type {
     margin-top: 56px;
 }
 /* SLIDER BTN STYLES */
 /* The switch - the box around the slider */

 .switch {
     position: relative;
     display: inline-block;
     float: right;
     width: 70px;
     height: 28px;
 }
 /* Hide default HTML checkbox */

 .switch input {
     display: none;
 }
 /* The slider */

 .slider {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     cursor: pointer;
     -webkit-transition: .4s;
     transition: .4s;
     background-color: #ccc;
 }

 .on-state, .off-state {
     position: absolute;
     letter-spacing: 1px;
     color: #fff;
 }

 .on-state {
     top: 5px;
     /*display: none;*/
     left: 5px;
 }

 .off-state {
     top: 5px;
     right: 5px;
 }

 .slider:before {
     position: absolute;
     bottom: 4px;
     left: 4px;
     width: 20px;
     height: 20px;
     content: "";
     -webkit-transition: .4s;
     transition: .4s;
     background-color: white;
 }

 input:checked+.slider {
     background-color: #5e62b3;
 }

 input:focus+.slider {
     box-shadow: 0 0 1px #5e62b3;
 }

 input:checked+.slider:before {
     -webkit-transform: translateX(42px);
     transform: translateX(42px);
 }
 /* Rounded sliders */

 .slider.round {
     border-radius: 34px;
 }

 .slider.round:before {
     border-radius: 50%;
 }
 /*****************************************
MEDIA QUERIES
*****************************************/

 @media only screen and (min-width: 480px) {
     /* col class media queries in grid layout
  section top of stylesheet */
     /******  HEADER  ******/
     body {
         margin-top: 50px;
         margin-left: 78px;
         background: white;
     }
     .main-header {
         max-height: 54px;
     }
     .main-header>.section {
         max-height: inherit;
     }
     .main-header>.section .col {
         margin-top: 5px;
         margin-bottom: 5px;
     }
     .title {
         /* 7px / 28px */
         padding-left: .25em;
     }
     .username {
         display: block;
     }
     /****  APP NAV  ****/
     svg {
         width: 32px;
     }
     .app-navigation-container {
         z-index: 900;
         top: 50px;
         right: initial;
         bottom: 0;
         left: 0;
         width: 80px;
     }
     .navigation-list {
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
     }
     .navigation-list li {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -ms-flex-item-align: center;
         align-self: center;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
         width: 100%;
         margin-top: .25rem;
         margin-bottom: 1em;
         padding-top: 4px;
         /* change border bottom to left
         on wide viewports */
         border-bottom: 0;
         border-left: 4px solid #3b3a5f;
     }

     /* SOCIAL STATS AREA */
     .social-stats-container {
         padding-right: 0;
     }
     .arrow {
         display: initial;
     }
 }

 @media only screen and (min-width: 600px) {
     .members-list-container:first-of-type {
         border-right: 1px solid #e6e6e6;
     }
     .hr {
         display: none;
     }
     /**********************
    GRAPHS
    **********************/
     /* Traffic widget nav */
     .nav-traffic-widget {
         text-align: right;
     }
 }

 @media only screen and (min-width: 1200px) {
   body {
     background: url('../images/new_year_background.png') center center;
   }
   .wrapper {
     position: relative;
     max-width: 1200px;
     margin: 0 auto;
   }
   h1.title {
     padding-left: 0;
   }
 }

 @media only screen and (min-width: 1332px) {
   body {
     margin-left: 0;
   }
 }
