.app-navigation-container {
  background: $color-nav-bg;
  height: 51px;
}

.app-navigation {

  ul.navigation-list {
    float: right;

    & li {
      float: left;
      margin-right: 10px;
      transition: border-bottom .2s ease-in-out;

      &:hover,
      &:focus {
        border-bottom: 2px solid lightgreen;
      }

      a {
        font-size: 0;
        padding: 10px 10px;

        svg {
          width: 28px;

        }

      }
    }
  }

}
