// DESCRIPTIVE COLOR VARIABLES
$blue-violet:     #5f62b3;
$gun-powder:      #3b3a57;
$white:           #f2f2f2;


$color-header:    $blue-violet;
$color-nav-bg:    $gun-powder;
$color-app-name:  $white;

// FONT VARIABLES


$stack-sans-serif     : Helvetica, Arial, sans-serif;
$stack-roboto      : 'Roboto', $stack-sans-serif;

$stack-primary    : $stack-roboto;


// functional COLOR VARIABLES


// Common styles
$dsply-inlineB:     inline-block;

$brk-2col-layout : '(min-width: 460px) and (max-width:1023px)';

$brk-tablet :  '(min-width: 460px),(min-width: 600px) and (orientation: landscape)';
$brk-wide   :  '(min-width: 1024px)';
